body {
  margin: 0;
  padding: 0;
}

.form-container {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px); /* Blur effect */
  box-shadow: 2px 2px 5px black;
  padding: 10px 0px;
  width: 60%;
}

.form-searchfield {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.form-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-input > input {
  border-radius: 5px;
  border: 1px solid black;
}

.restaurant-selected {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 20px 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.6);
  bottom: 0;
  z-index: 1500;
  width: 100%;
  background-color: white;
}

.info-restaurant-selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 30%;
  margin: 0 auto;
}

.info-restaurant-not-selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 30%;
  margin: 0 auto;
}

@media (max-width: 780px) {
  .info-restaurant-selected {
    width: 80%;
  }
  .info-restaurant-not-selected {
    width: 80%;
  }
}

.li-search:hover {
  cursor: pointer;
}

.info-restaurant-selected > p {
  margin: 0;
  padding: 0;
  font-weight: 900;
}

.info-restaurant-not-selected > p {
  margin: 0;
  padding: 0;
  font-weight: 900;
}

.button-choose {
  background-color: #ffa500;
  font-weight: 900;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
}
